*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(35, 231, 237);
  }
  
  #btn {
    margin-left: 240px;
    margin-top: 8px;
  }
  
  #outputDiv {
    margin-top: 15px;
  }
  
  #inputTextArea {
    max-width: 97%;
    height: 13vh;
   resize: none;
    border-radius: 8px;
    border: 2px solid gray;
    background-color: rgba(128, 128, 128, 0.561);
    padding: 7px;
    font-size: 17px;
    margin: 0 14px;
  }
  
  .submitbtn_div {
    display: flex;
    justify-content: center;
    width: 97vw;
    margin: 12px 0px;
  }
  
  #submitButton {
    width: 70px;
    height: 30px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    border: 2px solid black;
  }
  
  #submitButton:hover {
    background-color: rgba(7, 145, 244, 0.921);
    border: 2px solid rgba(255, 255, 255, 0.787);
    cursor: pointer;
  }
  #outputDiv{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    padding: 5px;
    margin-left: 14px;
    margin-right: 14px;
    max-width: 300px;
  }
@media screen and (max-width:520px) {
  #inputTextArea {
      max-width: 100px;
      background-color: rgba(128, 128, 128, 0.561);
  }
}

@media screen and (max-width: 1310px) {
  #inputTextArea {
      max-width: 96vw;
      background-color: rgba(128, 128, 128, 0.561);
  }
}
@media screen and (max-width: 1024px) {
  #inputTextArea {
      max-width: 95vw;
      background-color: rgba(128, 128, 128, 0.561);
  }
}
@media screen and (max-width: 870px) {
  #inputTextArea {
      max-width: 95vw;
      background-color: rgba(128, 128, 128, 0.561);
  }
}
@media screen and (max-width: 760px) {
  #inputTextArea {
      max-width: 94vw;
      background-color: rgba(128, 128, 128, 0.561);
  }
}
@media screen and (max-width: 590px) {
  #inputTextArea {
      max-width: 92vw;
      background-color: rgba(128, 128, 128, 0.561);
  }
}
@media screen and (max-width: 500px) {
  #inputTextArea {
      max-width: 91vw;
      background-color: rgba(128, 128, 128, 0.561);
  }
}
@media screen and (max-width: 460px) {
  #inputTextArea {
      max-width: 89vw;
      background-color: rgba(128, 128, 128, 0.561);
  }
}
@media screen and (max-width: 460px) {
  #inputTextArea {
      max-width: 89vw;
      background-color: rgba(128, 128, 128, 0.561);
  }
}
@media screen and (max-width: 360px) {
  #inputTextArea {
      max-width: 86vw;
      background-color: rgba(128, 128, 128, 0.561);
  }
}